/* Style for the form container */
.formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Style for the form header */
  .formContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style for form fields */
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Style for the submit button */
  .buttonGroup {
    text-align: center;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style for the form field labels */
  mat-label {
    font-weight: bold;
  }
  
  /* Style for the form input fields */
  mat-input {
    font-size: 16px;
  }
  
  /* Style for the select field */
  mat-select {
    font-size: 16px;
    width: 100%;
  }
  
  /* Style for the form field options */
  mat-option {
    font-size: 16px;
  }
  