
<div class="blog-list">
    <div class="blog-item" *ngFor="let blog of blogs">
      <div class="blog-header">
        <span class="user-info">Posted by {{ blog.userId.name }}</span><br>
        <span class="blog-name">{{ blog.blogName }}</span><br>
        <span class="user-info"></span>
      </div>
      <div class="blog-content">
        {{ blog.blogDescription }}  ----- {{ blog.categoryId.categoryType }} category
      </div>
      <button (click)="getComment(blog.id)"> <mat-icon>comment</mat-icon> </button>
      <div *ngIf="blog.id === selectedBlogId">
        <p *ngFor="let comment of selectedBlogComments">{{ comment.comments }} commented: {{ comment.userId.name }}</p>
      </div>
    </div>
  </div>
  
