
/* Center the navbar-brand (Blog Application) text */
.navbar-brand {
  display: flex;
  margin-right: 50px;
  align-items: center;
  height: 100%; /* Center vertically */
}

/* Move the menuButton to the right */
.menuButton {
  margin-left: auto;
  margin-right: 20px;
  box-shadow: none;
}
.menuButton{
  margin-right: 20px;
  box-shadow: none;
}

.menuButton:focus{
  box-shadow: none;
}


  
