
<div class="container">
    <div class="heading">
      <h3>Create new account!!</h3>
    </div>
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" class="attractive-form">
      <mat-form-field>
        <mat-label>User Name:</mat-label>
        <input matInput id="userName" formControlName="userName">
      </mat-form-field><br>
  
  
      <mat-form-field>
        <mat-label>Birth Date:</mat-label>
        <input matInput id="BirthDate" type="date" formControlName="BirthDate">
      </mat-form-field><br>
  
      <button mat-raised-button type="submit" [disabled]="!createUserForm.valid" class="submit-button"  color="primary">Submit</button>
    </form>
    
  </div>



