/* styles.css */

/* Center the container horizontally and vertically */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures the form is centered vertically on the viewport */
}

/* Style the form elements */
.heading {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 200%;
}

.mat-button-wrapper {
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 100%;
  max-width: 200px; /* Adjust as needed */
  margin-top: 20px;
}

